@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-app: #000000;
  --forground-app: #ffffff;
}

*,
*::before,
*::after {
  background-repeat: no-repeat;
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--forground-app);
  background: var(--background-app);
}
